svg{fill: rgba(1, 167, 1, .8);}
#Layer_1{fill:rgba(252, 4, 4, .5);
        animation-duration: 15s; 
        animation-delay: 10s;
        animation-iteration-count: infinite;}

/* #Layer_1{"animation-duration: 45s;""animation-delay: 300s;""animation-iteration-count: infinite;"} */



